*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    background: rgb(3, 66, 241);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    font-size: 12rem;
    padding: 10px 24px;
}